<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX68drZ8f3OhypcXhoSuUt4cXWJmAMU2A</string>
	<key>GCM_SENDER_ID</key>
	<string>162769336217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dita.PlacesAI</string>
	<key>PROJECT_ID</key>
	<string>placesai-dita</string>
	<key>STORAGE_BUCKET</key>
	<string>placesai-dita.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162769336217:ios:3876cb7ae92004c3784508</string>
</dict>
</plist>